body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

.Aj {
    color: green;
}

.link {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(green, black);
    padding: 10px 30px;
    border-radius: 5px;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.halfWidth {
    width: 50%;
    margin: 5%;
}

.halfWidth img {
    width: 70%;
}

#About-food {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
}

h2,
p {
    text-align: center;
}

#recipie {
    display: flex;
    margin-bottom: 80px;
}

.recipie-details {
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
}

#recipie .recipie-details img {
    width: 100%;
}

#review {
    display: flex;
    margin-bottom: 80px;
    box-shadow: 10px 10px 20px gray;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    padding-left: 40px;
    margin-left: 10%;
}

footer {
    background-color: black;
    padding: 30px 50px;
}

footer h3,
h5 {
    text-align: center;
    color: white;
}

footer p {
    color: cornsilk;
    text-align: center;
}